<details id="settings">
    <summary id="settings-toggle"></summary>        
    <div id="settings-menu" role="menu">
        <!-- <button aria-label="close menu" id="settings-menu-close">X</button> -->
        <h2>settings!</h2>
        <button id="play-gif" class="settings-button">play GIFs</button>
        <button id="stop-gif" class="settings-button">stop GIFs</button>

        <p>theme choices coming soon maybe?? idfk</p>

        <!-- <button class="settings-button">disable hover-to-zoom</button> -->

        <!--
        <button class="settings-button" id="settings-cursor"
            >disable cursor animation</button
        >
        <span class="small-text">(will reload page)</span>
        -->

        <!--
        <label for="select-font">select font</label>
        <select id="select-font">
            <option value="default">default</option>
            <option value="pixel">pixel</option>
            <option value="dyslexic">open dyslexic</option>
        </select>
        -->
        
        <!--
        <label for="select-theme">select theme</label>
        <select id="select-theme">
            <option value="moodysunset">moody sunset (dark)</option>
            <option value="monokai">monokai (dark)</option>
            <option value="monokaisoda">monokai soda (dark)</option>
            <option value="dracula">dracula (dark)</option>
            <option value="github-dark">github dark (high contrast)</option>
            <option value="gruvbox-light">gruvbox (light)</option>
            <option value="monogruv-light">mono-gruv (light)</option>
            <option value="vscode-light">vs code light (high contrast)</option>
        </select>
        -->

        <p><a class="to-top" href="#">return to top of page</a></p>
        <p class="skip"><a href="#settings-toggle">close menu</a></p>
    </div>
</details>
