/* CSS reset - modified from Andy Bell */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
option {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* end CSS reset */


/* variables */

:root {
  --color-bg-primary: #000;
  --color-bg-second: #222;
  --color-text-primary: #ff0;
  --color-text-second: #ddd;
  --color-accent-1: #e5322e;
  --color-accent-2: #ff0;
  --color-accent-3: #9f3;
  --font-main: Mina, 'MS Gothic', Verdana, Geneva, Tahoma, sans-serif;
  --font-accent-1: 'Finger Paint', Mina, 'MS Gothic', Verdana, Tahoma, sans-serif;
  --font-accent-2: Shizuru, 'Finger Paint', Mina, 'MS Gothic', Verdana, Tahoma, sans-serif;
  --font-code: 'Courier New', Courier, monospace;
}





/* main styles */

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-main);
  font-weight: 200;
  display: flex;
  flex-direction: column;
  padding: 0;
}

main {
  margin: auto;  
  max-width: 80ch;
  flex-grow: 1;
  padding: 1.5rem;
}

section {
  margin: 2rem 1rem;
}

h1, h2, h3 {
  text-align: center;
  font-family: var(--font-accent-1);
  font-weight: normal;
  margin: 1rem;
}

h1 {
  font-family: var(--font-accent-2);
  font-size: 270%;
  margin: 2rem;
}

details {
 margin: 1rem; 
}

p {
  margin: 1rem auto;
}

a {
 color: var(--color-accent-1); 
}

footer {
  font-size: 85%;
  margin: 2rem auto 0;
  text-align: center;
}

iframe {
  margin: auto;
  display: block;
}



.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.blinkies img {
  width: 150px;
  height: 20px;
}

.code {
  font-family: var(--font-code);
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.freezeframe, .ff-image {
  vertical-align: unset;
  margin: unset;
}



/* utility classes */

.large {
  font-size: 270%;
}

.centered {
  text-align: center;
  margin: auto;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.hidden {
  display: none !important;
}

/* source: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a:focus {
  position:static;
  width:auto;
  height:auto;
}




/* settings menu */

#settings {
  position:fixed;
  top: 5px;
  right: 0px;
  z-index:1000;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#settings[open] {
background-color: var(--color-bg-second);
  color: var(--color-text-primary);
  width: fit-content;
  padding: 1rem 2rem;
  border: solid 3px var(--color-accent-2);
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  max-height: calc(100vh - 10px);
  overflow: auto;
  z-index: 900;
}

#settings-toggle {
  list-style-type: none;
  cursor: pointer;
  display:flex;
  align-items:center;
}

#settings-toggle::before {
  width: 38px;
  height: 38px;
  background-color:var(--color-accent-2);
  background-image: url(/assets/img/settings.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  content: '';
  border: solid 2px var(--color-bg-second);
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

#settings-toggle::-webkit-details-marker {
  display: none;
}

#settings[open] > summary {
  display: block;
  text-align: right;
}

#settings[open] > summary::before {
  content: 'close';
  text-decoration: underline;
  height: fit-content;
  color: var(--color-text-second);
  z-index: 1000;
  background: none;
  border: 0;
}

#settings-menu h2 {
  font-size: 1rem;
  font-family: var(--font-main);
  font-weight: bold;
  color: var(--color-accent-1);
  margin-top: 0.5rem;
}

#settings-menu a {
  color: var(--color-text-primary);
}

.settings-button {
  display: block;
  background-color: transparent;
  color: var(--color-text-primary);
  text-decoration: underline;
  cursor: pointer;
  border: 0;
  margin: 1rem auto 0;
}

#settings-menu span, #settings-menu label {
  display: block;
}

#settings-menu label {
  margin-top: 1rem;
}



/* home page */

#outer-science {
  width: 560px;
  height: 315px;
  max-width: 100%;
  margin: auto;
  display: block;
}

.toots {
  list-style-type: none;
  font-size: 85%;
}

a.user {
  display: none;
}

.big-emoji {
  display: inline;
  height: 100px;
  width: auto;
}




/* media queries */

@media screen and (min-width: 800px) {
  .flex-container {
    flex-direction: row;
  }

  .flex-container section:first-child {
    max-width: 80ch;
  }

  .flex-container section:last-child {
    width: 30ch;
  }

  main {
    max-width: 100%;
  }
}